<!DOCTYPE html>
<html>
	<head>
		<title>BRPB: Leaderboard</title>
		<script src="assets/api.js"></script>
		<script src="assets/enumHelper.js"></script>
		<script src="assets/sets.js"></script>
		<script src="api/enums.js"></script>

		<link href="assets/style1.css" type="text/css" rel="stylesheet" />
		<link href="leaderboard/leaderboard.css" type="text/css" rel="stylesheet" />
		<script src="leaderboard/leaderboard.js"></script>
	</head>
	<body>
		{{nav}}

		<div class='card right-margin' id='leaderboard'>
			<h2>Points Leaderboard</h2>
		</div>
		
	</body>
</html>
