<!DOCTYPE html>
<html>
	<head>
		<title>BRPB: Leaderboard</title>
		<script src="assets/api.js"></script>
		<script src="assets/enumHelper.js"></script>
		<script src="assets/sets.js"></script>
		<script src="api/enums.js"></script>

		<link href="assets/style1.css" type="text/css" rel="stylesheet" />
		<link href="leaderboard/leaderboard.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		{{nav}}

		<div class='card right-margin' id='leaderboard'>
			<h2>Points Leaderboard</h2>
			<h3>Season: <select id='season-list'>
			</select></h3>
			<h3>Instrument: <select id="instrument-list">
			</select></h3>
			<h3>Class Year: <select id="class-list">
			</select><h3>

		</div>
		
		<script src="leaderboard/leaderboard.js"></script>
	</body>
</html>
