.member, .new-member-span
{
	display: block;
	background-color: white;
}

#searchbox-container
{
	max-width: 2in;
	margin-top: 10px;
	position: relative;
}

#results
{
	border: solid 1px gray;
	padding: 2px;
	width: 100%;

	display: block;
	position: absolute;
	top: 20px;
	background-color: white;

}


#results.hidden
{
	border: none;
	display: none;

}

#searchbox
{
	width: 100%;
	display: block;
}

#results > .member:hover, #results > .new-member-span:hover
{
	background-color: blue;
	color: white;
	width: 2in;
}

input[type=number]
{
	width: .5in;
}

.no-wrap
{
	 white-space: nowrap;
}

input.points 
{
	width: .75in;
}

#event-info
{
	margin-bottom: .25in;
}

.remove-button
{
	cursor: pointer;
}

h1{
	margin-top: 8px;
}

h2 span {vertical-align: middle;}

.member .mini {
	font-size: 8pt;
	margin-left: 10px;
}


.invalid
{
	background-color: #FF8888;
}


.short-label {
	width: 1in;
	display: inline-block;
}

#close-button
{
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	z-index: 2;
}

#available-going
{
	flex-direction: row;
}

#available-container, #going-container 
{
	display: none;
	width: 49%;
	box-sizing: border-box;
}



h4 {margin: 0px;}



#going .memberRow {margin-left: .25in;}

.memberRow span[icon]
{
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.memberRow span[icon="edit"]
{
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
}

.memberRow
{
	position: relative;
	vertical-align: middle;
}

.memberRow span
{
	vertical-align: middle;
}

.memberRow .points
{
	width: .5in;
	display: inline-block;
}

.memberRow .name
{
	width: 2in;
	display: inline-block;

}

.memberRow .actions
{
	display: none;
	position: absolute;
	right: 10px;
}

.memberRow .actions:hover
{
	display: block;
}
.memberRow .actions span
{
	cursor: pointer;
}


.memberRow:nth-child(odd)
{
	background-color: #E0E0E0;
}

.memberRow:nth-child(even)
{
	background-color: #F8F8F8;
}

.memberRow:hover
{
	background-color: #FFC0C0;
}

.memberRow:hover .actions
{
	display: inline-block;
}


@media only screen and (max-width: 600px) 
{
	body, body table, input, select
	{
		font-size: 8pt;
	}

	#attendees select
	{
		max-width: .7in
	}

	#attendees input
	{
		max-width: .25in;
	}
}