<!DOCTYPE html>
<html>
	<head>
		<title>BRPB: Edit Event</title>
		<script src="../assets/Trie.js"></script>
		<script src="../assets/api.js"></script>
		<script src="../api/enums.js"></script>
		<script src="../assets/enumHelper.js"></script>
		<link type="text/css" href="../assets/style1.css" rel="stylesheet" />
		<link type="text/css" href="editEvent/editEvent.css" rel="stylesheet" />

		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="0"/>

	</head>
	<body>

		<span icon='close' title="Close this event" id='close-button' onclick="closeEvent();"></span>

		<div id='cols' class="column frame left-pad">
			
			<div id='col1'>
				<h2><span>Edit Event</span><span id='feedback-box' icon="none"></span></h2>

				<div id='event-info'>

					<div>
						<label for='name'>Event Name</label>
						<input maxlength="255" id='name' oninput="updateEvent()"/> 
					</div>
					<div>
						<label>Type</label> <span id='event_type_container'></span>
					</div>
					<div><label>Points</label> <input id='default_points' oninput="updateEvent()" type="number"/> </div>
					<div><label>Date</label> <input maxlength="255" onchange="updateDate(this)" id='date' type="date" /> </div>
					<input type='hidden' id='token' value='{{crsf}}'/>
					
					<div>
						<label for='description'>Description</label><br>
						<textarea maxlength="255" id='description' oninput="updateEvent()"> </textarea>
					</div>
					
				</div>
				<hr>
				<div>Search for people to add</div>
				<div>
					<span class='no-wrap'><label for='allMembersFalse'>Season members</label> <input id='allMembersFalse' name='allMembers' checked type='radio'></span>
					<span class='no-wrap'><label for='allMembersTrue'>All members</label> <input id='allMembersTrue' name='allMembers' type='radio'></span>
				</div>

				<div id='searchbox-container'>
					<input id='searchbox' type='search'>
					<div id='results' class="hidden"></div>
				</div>
				<hr>
				
				<button id='delete' onclick="deleteEvent();">Delete Event</button>
				
			</div>

			<div class="frame left-pad">

				<h2>Attendees</h2>
				<div id='atendees-container'class='scroll frame'>
					<table id='attendees'>
					</table>
				</div>
			</div>
		
		</div>



		
		<script src="editEvent/editEvent.js"></script>
	</body>
</html>