<!DOCTYPE html>
<html>
	<head>
		<link href="assets/style1.css" type="text/css" rel="stylesheet" />
		<link href="profile/profile.css" type="text/css" rel="stylesheet" />

		<script src="api/enums.js"></script>
		<script src="assets/enumHelper.js"></script>
		<script src="assets/api.js"></script>

		<script src="profile/profile.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	<body>

		{{nav}}

		<div class='scroll frame'>
			
			<div id='main-row-container'><div id='main-row' class='card margin-right' style="display: none"></div></div>

			<div class='column'>
				<div>
					<div class='card'>
						<h2>Sign Ups</h2>
						<input type='hidden' id='token' value='{{crsf}}'/>
						<div id='signups'></div>
					</div>
					<div class='card'>
						<h2>Achievements<span id='achievement-count'>1/16</span></h2>
						<div class='achievement-div'>
							<div class='achievement' >
								<img src="../assets/img/band.jpg" />
								<div>Join Band!</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--times2.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Back for More</div>
								<div class='achievement-desc'>Attend two Pep Band events in the same day.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--football.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Not Marching Band</div>
								<div class='achievement-desc'>Attend a Football or Sprint Football event with the Pep Band.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--bus.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">I'm on a Bus!</div>
								<div class='achievement-desc'>Go on an away trip.</div>
							</div>
						</div>
						<div class='achievement-div'>
							<div class='achievement locked'>
								<img src="../assets/img/locked--sports.jpg" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Athletic Tour</div>
								<div class='achievement-desc'>Attend 10 different kinds of events.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--money.gif" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Breadwinner</div>
								<div class='achievement-desc'>Help out at a Thankathon.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--equality.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Equality</div>
								<div class='achievement-desc'>Support women's athletics by attending 20 games.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--mhockey.jpg" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Lynah Faithful</div>
								<div class='achievement-desc'>Attend 14 Men's Hockey games.</div>
							</div>
						</div>
						<div class='achievement-div'>
							<div class='achievement locked'>
								<img src="../assets/img/locked--whockey.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Birdland</div>
								<div class='achievement-desc'>Attend 14 Women's Hockey games.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--nyc.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Welcome to New York</div>
								<div class='achievement-desc'>Go on an MSG trip.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--world.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">World Tour</div>
								<div class='achievement-desc'>Attend events against 25 different schools.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--logo.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Monday Night Lights</div>
								<div class='achievement-desc'>Attend 40 rehearsals.</div>
							</div>
						</div>
						<div class='achievement-div'>
							<div class='achievement locked'>
								<img src="../assets/img/locked--dedication.jpg" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Dedication</div>
								<div class='achievement-desc'>Gain 150 points or more in a single season.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--halfstar.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Halfway There</div>
								<div class='achievement-desc'>Gain 250 lifetime points.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--star.png" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">500 Point Club</div>
								<div class='achievement-desc'>Gain 500 lifetime points.</div>
							</div>
							<div class='achievement locked'>
								<img src="../assets/img/locked--alma_mater.jpg" />
								<img class='lock-img' src="../assets/img/lock.png" />
								<div class="achievement-name">Alma Mater</div>
								<div class='achievement-desc'>Attend an event a year after you graduate.</div>
							</div>
						</div>
					</div>
				</div>

				<div>
					<div class='card right-margin' id='history'>
						<h2>Your Pep Band History</h2>
					</div>
				</div>
			</div>

		</div>

		<!-- remove this when there's a proper logout button -->
		<script> sessionStorage["logout"] = "1"; </script>
	</body>
</html>