<nav>
	<a href="events">Events</a>
	<a href="members">Members</a>
	<a href="points">Points</a>
	<div class='expand-menu'>
		<a href="#"><span>More</span><span icon='menu-down'></span></a>
		<div class='expand-menu-list'>
			<a href="#">About (todo)</a>
			<a href="access">Access</a>
			<a href="pepband.db">Export Data</a>
			<a href="seasons">Seasons</a>
			<a href="instruments">Instrument Types</a>
			<a href="#">Event Types (todo)</a>
		</div>
	</div>
	<a class='float-right' onclick="logOut()">Log Out</a>
	<script>
		function logOut()
		{
			sessionStorage["logout"] = "1";
			window.location.href="logout"
		}
	</script>
</nav>