<!DOCTYPE html>
<html>
	<head>
		<!--meta name="google-signin-scope" content="profile email"-->
		<!--meta name="google-signin-client_id" content="428252312756-djr3h6is5c0s8lfr5ev3pr1567rnnjat.apps.googleusercontent.com"-->
		<!--script src="https://apis.google.com/js/platform.js" async defer></script-->

		<link href="/landing/landing.css" type="text/css" rel="stylesheet" />
		<link href="/assets/style1.css" type="text/css" rel="stylesheet" />

		<script src="/assets/jwt-decode.js"></script>
		<script src="https://accounts.google.com/gsi/client" async defer></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	<body>

		<div class='main'>
			<span class='big'>Big Red Pep Band</span>
			<span class='quote'></span>
			<p>Online Portal</p>

			<!--div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div-->
			<div id="g_id_onload"
				data-client_id="428252312756-djr3h6is5c0s8lfr5ev3pr1567rnnjat.apps.googleusercontent.com"
				data-callback="onSignIn">
			</div>
			<div class="g_id_signin" data-type="standard"></div>

			<form style="display: none;" action="login" method="POST">
				<input type="hidden" name="token" id='token' />
				<input type="submit" disabled id='submit' />
			</form>
		</div>
		

		<script>
			function onSignIn(jwtResponse) {

				// decodeJwtResponse() is a custom function defined by you
			     // to decode the credential response.
			     const responsePayload = jwt_decode(jwtResponse.credential);

			     console.log("ID: " + responsePayload.sub);
			     console.log('Full Name: ' + responsePayload.name);
			     console.log('Given Name: ' + responsePayload.given_name);
			     console.log('Family Name: ' + responsePayload.family_name);
			     console.log("Image URL: " + responsePayload.picture);
			     console.log("Email: " + responsePayload.email);


				if(sessionStorage["logout"])
				{
					delete sessionStorage["logout"];

					var auth2 = gapi.auth2.getAuthInstance();
					auth2.signOut().then(function () {
						console.log('User signed out.');
					});
				}
				else
				{
					// The ID token you need to pass to your backend:
					/*var id_token = googleUser.getAuthResponse().id_token;

					document.getElementById('token').value = id_token;
					document.getElementById('submit').removeAttribute("disabled");
					document.getElementById('submit').click();*/
					//console.log("ID Token: " + id_token);

					document.getElementById('token') = JSON.stringify(jwtResponse);
					document.getElementById('submit').removeAttribute("disabled");
					document.getElementById('submit').click();
				}	
			}
		</script>


	</body>
</html>