.season-div > div
{
	margin-left: 20pt;
}

.season-div > div span, .season-div > div a
{
	margin-right: 8pt;
}

.points
{
	min-width: .4in;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
}

#lifetime-points
{
	display: block;
}