<!DOCTYPE html>
<html>
	<head>
		<title>BRPB: Points</title>
		<script src="assets/api.js"></script>
		<script src="assets/enumHelper.js"></script>
		<script src="assets/sets.js"></script>
		<script src="api/enums.js"></script>

		<link href="assets/style1.css" type="text/css" rel="stylesheet" />
		<link href="points/points.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav>
	<a href="events">Events</a>
	<a href="members">Members</a>
	<a href="points">Points</a>
	<div display="More"></div>
</nav>

		<div id='cols' class='column frame left-pad'>
			
			<div id='col1' class='frame'>

				<h2>Points</h2>
				<div class='scroll frame' id='seasons'>
					
				</div>

			</div>

			<div id='col2' class='frame'>
				
			</div>
		</div>

		<script src="points/points.js"></script>
	</body>
</html>