<html>
	<head>
		<title>BRPB: Events</title>
		<script src="assets/api.js"></script>
		<script src="api/enums.js"></script>
		<script src="assets/enumHelper.js"></script>

		<link href="assets/style1.css" type="text/css" rel='stylesheet' />
		<link type="text/css" href="events/events.css" rel="stylesheet" />

		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="0"/>

		<meta name="google-signin-scope" content="profile email">
	    <meta name="google-signin-client_id" content="428252312756-djr3h6is5c0s8lfr5ev3pr1567rnnjat.apps.googleusercontent.com">
	    <script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>
	<body>		
		{{nav}}

		<div class='column frame'>
			<div id='events-container' class='frame left-pad'>
				<div id='header'>
					<h2>Events</h2>
					<table>
						<tr>
							<td><input name='token' type='hidden' id='token' value='{{crsf}}'/>
							<input type='hidden' id='default_season' />
							Season <span id='season-select-container'></span>
							</td>
							<td>
								<input type='radio' name='groupBy' id='groupRadio1' checked onchange="loadEventsFromSeason(events)">
								<label for='groupRadio1'>By Date</label>
								<input type='radio' name='groupBy' id='groupRadio2' onchange="loadEventsFromSeason(events)">
								<label for='groupRadio2'>By Type</label>
							</td>
						</tr>
						<tr>
							<td><button onclick='newEvent()'>Create a new event</button></td><td><button id='collapse-groups-button' onclick='collapseGroups(this)'>Collapse Groups</button></td>
						</tr>
					</table>
				</div>
				
				<div class='scroll frame bottom-pad' id='event-list'></div>
			</div>
			<div id='iframe-container' class='frame'>
				<iframe name="editFrame" id='editFrame'></iframe>
			</div>
		</div>
	
		<script src="events/events.js"></script>
	</body>
</html>