<html>
	<head>
		<title>BRPB: Events</title>
		<script src="assets/api.js"></script>
		<script src="api/enums.js"></script>
		<script src="assets/enumHelper.js"></script>

		<link href="assets/style1.css" type="text/css" rel='stylesheet' />

		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="0"/>
	</head>
	<body>		
		{{nav}}

		<div class='column frame left-pad'>
			<div class='frame'>
				<h2>Events</h2>
				<form action="events/new" method="POST">
					<input name='token' type='hidden' id='token' value='{{crsf}}'/>
					<input type='hidden' id='default_season' />
					Season <span id='season-select-container'></span>
					<input type="submit" value="Create a new event"/>
				</form>

				<div class='scroll frame'>
					<table id="table"></table>
				</div>
			</div>
		</div>
		

		<script>

			var default_season = sessionStorage.season || enums.default_season;
			sessionStorage.season = default_season;

			var enumLookup;

			loadJSON("../api/getEvents?season=" + default_season, function(stuff)
			{
				var events = stuff;

				console.log("me");

				enumLookup = makeEnumLookup(enums);

				var lastestSeasonId = enums.default_season;

				var select = makeSeasonSelect(enums);
				select.id = "season";
				select.name = "season";
				select.value = default_season;
				select.onchange = function()
				{
					loadJSON("../api/getEvents?season="+ this.value, loadEventsFromSeason);
					sessionStorage.season = this.value;
				}
				document.getElementById('season-select-container').appendChild(select);

				loadEventsFromSeason(events);
			})


			function loadEventsFromSeason(events)
			{
				var table = document.getElementById('table');
				var rows = table.getElementsByTagName('tr');

				table.innerHTML = "<th>Event Name</th><th>Type</th><th>Date</th><th>Actions</th>";

				for(var i in events)
				{
					var event = events[i];

					table.innerHTML += "<tr><td>" + event.name + "</td>" +
						"<td>" + enumLookup.event_types[event.event_type_id] + "</td>" +
						"<td>" + event.date + "</td>" + 
						"<td><a href=editEvent?" + event.id + "> Edit </a></td>";
				}	
			}
			
		</script>
	</body>

</html>