<!DOCTYPE html>
<html>
	<head>
		<title>BRPB: Points</title>
		<script src="assets/api.js"></script>
		<script src="assets/enumHelper.js"></script>
		<script src="assets/sets.js"></script>
		<script src="api/enums.js"></script>

		<link href="assets/style1.css" type="text/css" rel="stylesheet" />
		<link href="tableEdit/tableEdit.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav>
	<a href="events">Events</a>
	<a href="members">Members</a>
	<a href="points">Points</a>
	<div class='expand-menu'>
		<a href="#"><span>More</span><span icon='menu-down'></span></a>
		<div class='expand-menu-list'>
			<a href="#">About (todo)</a>
			<a href="access">Access</a>
			<a href="pepband.db">Export Data</a>
			<a href="seasons">Seasons</a>
			<a href="instruments">Instrument Types</a>
			<a href="#">Event Types (todo)</a>
		</div>
	</div>
	<a class='float-right' onclick="logOut()">Log Out</a>
	<script>
		function logOut()
		{
			sessionStorage["logout"] = "1";
			window.location.href="logout"
		}
	</script>
</nav>
		<input type="hidden" id='crsf' value="{{crsf}}"/>
		<div class='scroll frame left-pad right-pad'>
			
			<h2 id='title-heading'></h2>
			<p id='notes'></p>
			<div id='editable-table'></div>

			<div>
				<div class='level'>
					<button id='save-button' onclick="saveTable()">Save Changes</button>
					<span id='loading'></span>
				</div>
				<div id='success'>
					<div>
						<span icon="success"></span>
						<span>Data saved successfully</span>
					</div>
				</div>
				<div id='errors'>
					<div>
						<span icon="error"></span>
						<span>Data failed to save</span>
					</div>
					<div id='errors-text'></div>
				</div>
			</div>

		</div>

		<script src="tableEdit/tableEdit.js"></script>
	</body>
</html>